/*	A fresh plate of CSS by Niket Desai
	cooked up for BPEDME & your viewing
	displeasure.
	
	Q: Do you use overflow:hidden; to 
	handle your clear fixing?
*/


/* DOCUMENT RESET */
html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* END RESET */









/* @group BODY/TEXT */
body {
	font-family: 'Montserrat', Helvetica, Sans-serif;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', Helvetica, Sans-serif;
	font-weight: normal;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 12px;
}

p {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
	padding: 0;
}

/* Fix for a weird wrapper scenario */
.wrapper-force {
	height: 400px;
}
.container {
	width: 1200px;
	margin:0 auto;
	padding: 0;
	overflow: hidden;
}
/* @end */

/* @group GLOBAL */
nav a, .buckets a {
	text-decoration: none;
}

.float-left {
	float: left;
	margin: 0px;
}

.blue {
	color: #044689;
}

.yellow {
	color: #ffc80d;
}

.grey {
	color: #949494;
}

.b-blue {
	background-color: #044689;
}

.b-yellow {
	background-color: #ffc80d;
}

.b-grey {
	background-color: #949494;
}

.divider {
	width: 100%;
	height: 1px;
	background-color: #b1b1b2;
	padding: 0;
}

/* @end */



/* @group BUTTONS */
.button {
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	height: 30px;
	line-height: 30px;
	margin-left: -30px;
}

.cta {
	color: white;
	text-align:center;
}
/* @end */



/* @group HEADER */

header {
	height: 100px;
}

#logomast {
	margin-left: 130px;
}

nav.header ul {
	float: right;
	margin: 30px 50px 0 0;
	width: 485px;;
}

nav.header ul li {
	float: left;
	margin-left: 40px;
	font-size: 14px;
	
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

nav.header ul li:hover, .cta:hover {
	border-bottom: 2px solid #044689;
}

nav.header ul li a {
	color: #044689;
}


.not-here {
	color: #e4e4e4;
	opacity: 1;
}



/* @end */

/* @group MAIN CONTENT */
#main-content {
	width: 100%;
	height: 400px;
	background-image: url('images/BPEDME_windowgraphic_e0e0e0_v2.jpg');
	background-repeat: no-repeat;	
}

section #events, #carousel {
	height: inherit;
}

#carousel {
	float: right;
	margin: 18px 120px 0 0
}
/* 	No idea why, but the container div is expanding
	to handle padding from a child element. */
.force-four {
	height: 400px;
}

/* @end */

/* @group SECOND CONTENT */
#secondary-content {
	padding: 40px 120px;
	overflow: hidden;
}

.buckets {
	width: 280px;
	float: left;
	padding: 0 20px;
}

.buckets h2 {
	text-align: center;
}

.buckets-pic {
	width: 280px;
	height: 150px;
}

.buckets-text {
	width: 100%;
}

.buckets p {
	font-size: 12px;
	color: #777878;
	line-height: 20px;
}

.buckets-cta {
	float: right;
}

/* @end */

/* @group ABOUT CONTENT */

#about-content {
	padding: 40px 120px;
	overflow: hidden;
}

nav.about {
	overflow: hidden;
	width: 455px;
	height: 50px;
	margin: 0 auto;
	padding: 0;
}

nav.about ul li {
	float: left;
	margin-left: 40px;
	color: #044689;
	font-size: 14px;
	
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

nav.about ul li:hover {
	border-bottom: 2px solid #044689;
}

nav.about ul li a {
	color: #044689;
}

h1.about-header {
	color: #044689;
	padding-top: 20px;
}

#mission-content p {
	font-size: 14px;
	color: #777878;
	line-height: 26px;
}

.person {
	overflow: hidden;
	margin: auto;
	padding-bottom: 20px;
	
}

.person-pic {
	width: 150px;
	height: 150px;
	background-color: black;
	background-image: ;
	float: left;
}

.person-prof {
	width: 790px;
	float: left;
	padding: 0 0 0 20px;
}

.person-prof h3 {
	margin-top: 5px;
	color: #4b4b4b;
}

.person-bio {
	
}

p.person-bio {
	font-size: 14px;
	color: #777878;
	line-height: 25px;
}
/* @end */



#research-content {
	width: 960px;
	margin: 0 auto;
	padding: 20px 0;
}

#research-content h2 {
	color: #044689 ;
}

#research-content h3 {
	margin-top: 5px;
	color: #4b4b4b;
	line-height: 28px;
	font-style: italic;
}

#research-content p, #research-content ol, #research-content ul {
	font-size: 14px;
	color: #777878;
	line-height: 26px;
}




/* @group FOOTER */

#share {
	overflow: hidden;
	padding: 40px 0;
}
#share-text {
	width: 300px;
	padding: 0px 20px;
}
#share-text h3 {
	color: #767676;
	line-height: 25px;
}

#share-box {
	margin-left: 175px;
}

#footer-divider {
	width: 960px;
	height: 1px;
	margin: 30px auto;
	background-color: #d5d5d5;
}

nav.footer {
	overflow: hidden;
}
nav.footer ul {
	float: left;
	margin: 30px 0px 30px 85px;
}

nav.footer ul li {
	color: #767676;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 11px;
	float: left;
	margin-left: 20px;
}

#footer-text {
	margin-left: 285px;
}

/* @end */